.dango{
    z-index: 5;
    position: absolute;
    width: 300px;
    height: 225px;
    border-radius: 150px 150px 85px 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dangoBox{
    position: fixed; 
    width: 300px; 
    height: 300px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    transition: transform 600ms;
}
.dangoBoxSm{
    transform: scaleY(0.8) translateY(7%);
    transition: transform 600ms;
}
.masa{
    width: 80px;
    height: 40px;
    background-color: rgb(187, 166, 71);
    border: 5px solid rgb(78, 69, 30);
}

.pequeño{
    width: 135px;
    height: 105px;
}
.joven{
    width: 200px;
    height: 155px;

}


/* .dango span{
    position: absolute;
    width: 15px;
    height: 25px;
    top: -50%;
    left: 35%;   
    border-radius: 0 0 6vw 6vw;
    background: white;
    box-shadow: 0 0 10px white;
} */


/* Anatomia  */

.dango .ojos{
    width: 50%;
    height: 40%;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: black; */
}

.ojos .ojo{
    transition: transform 100ms;
    position: relative;
    width: 20px;
    height: 100%;
    background-color: #000000;;
    border-radius: 100px;
    /* border: 2px solid rgb(0, 73, 43); */
    transition: height 200ms, border-radius 200ms, margin-bottom 200ms,transform 400ms;



}

/* COLORES PARA EL DANGO */

.cyanDango{
    background-color: #00ff95;
    border: 5px solid #004b2c;
}
.roseDango{
    background-color: #fd43c5;
    border: 5px solid #993f91;
}
.redDango{
    background-color: #fb3232;
    border: 5px solid #a83b3b;
}
.greyDango{
    background-color: #747474;
    border: 5px solid #222222;
}
.lightDango{
    background-color: #ffffff;
    border: 5px solid #000000;
}
.greenDango{
    background-color: #1eff00;
    border: 5px solid #004b06;
}








/* extras  */

.expresiones{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
    width: 20%;
    height: 20%;
}


.sombra{
    z-index: 2;
    position: absolute;
    bottom: -10%;
    height: 40%;
    width: 100%;
    background-color: black;
    border-radius: 160px;
    opacity: 85%;
}
/* hitboxes */


.hitboxes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px 150px 85px 85px;
}


.hitboxes .cabezaH{
    width: 110%;
    /* background: rgba(0, 0, 0, 0.336); */
    height: 50%;
    position: absolute;
    top: -10%;
}
.hitboxes .barrigaH{
    /* background: rgba(0, 0, 0, 0.397); */
    width: 110%;
    height: 70%;
    position: absolute;
    bottom: -10%;
}

/* ropa */

.sombreroFrio{
    width: 110px;
    height: 50px;
    top: -20%;
    box-shadow: 0 0 10px cadetblue;
    position: absolute;
    background-color: cadetblue;
    border-radius: 4px;
    left: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.exibicion{
top: 0%;
left: 0%;
position:relative;
}

.emote{
    opacity: 0%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: expresar 2s ease;
}
.emoteG{
    opacity: 0%;
    width: 60px;
    height: 60px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: expresar 2s ease;
}
.sombreroFrioTop{
    width: 100px;
    height: 50px;
    top: -70%;
    box-shadow: 0 0 10px rgb(25, 77, 78);
    position: absolute;
    background-color: rgb(27, 77, 78);
    border-radius: 20px 20px 0 0; 
    left: 4.5%;
}



/* animaciones  */



.ojos .entrecerrar{
    transition: transform 400ms;
   transform: scaleY(0.1) scaleX(1.5);
}

.ojos .forzar{
    border-radius: 10px 10px 0px 0px;
    height: 70%;
    margin-bottom: 18%;
    transition: height 200ms, border-radius 200ms, margin-bottom 200ms;
}


@keyframes alegrarO{
    0%{
        border-radius: 10;
        height: 100%;
    }
    15%{
        border-radius: 10px 10px 0px 0px;
        height: 70%;
        margin-bottom: 18%;
    }
    85%{

        border-radius: 10px 10px 0px 0px;
        height: 70%;
        margin-bottom: 18%;
        
    }
    100%{
        border-radius: 10px;
        height: 100%;
    }
}

.parpadeo{
    animation: parpadeo 500ms ease;
}

@keyframes parpadeo {
    0%{
        transform: scaleY(100%);
    }
    50%{
        transform: scaleY(0%);
    }
    100%{
        transform: scaleY(100%);
    }
}

@keyframes expresar{
    0%{
        opacity: 0%;
        transform: translateY(0);
    }

    5%{
        opacity: 100%;
    }

    20%{
        transform: translateY(-300%);
    }
    69%{
        opacity: 100%;
    }
    70%{
        opacity: 0%;
    }
    75%{
        opacity: 100%;
    }
    80%{
        opacity: 0%;
    }
    85%{
        opacity: 100%;
        transform: translateY(-300%);
    }
    90%{
        opacity: 0%;
    }
    100%{
        transform: translateY(0);
        opacity: 0%;
    }
}


.retorcerse{
    animation: retorcerse 1900ms infinite;
}

@keyframes retorcerse {
    0%{
        transform: scaleX(1) scaleY(1);
    }
    10%{
        transform: scaleX(1.4) scaleY(0.7) translateY(10%);
    }
    20%{
        transform: scaleX(1) scaleY(1);
    }
    30%{
        transform: scaleX(1.4) scaleY(0.7)translateY(10%);
    }
    40%{
        transform: scaleX(1) scaleY(1);
    }
    50%{
        transform: scaleX(1.4) scaleY(0.7)translateY(10%);
    }
    60%{
    transform: scaleX(1) scaleY(1);
    }
    70%{
        transform: scaleX(1.4) scaleY(0.7)translateY(10%);
    }
    80%{
    transform: scaleX(1) scaleY(1);
    }
    90%{
    transform: scaleX(1.4) scaleY(0.7)translateY(10%);
    }

    100%{
    transform: scaleX(1) scaleY(1);    
    }


}
.moverOjosAD{
    animation: moverOjosAD 3s ease;
}
@keyframes moverOjosAD {
    0%
    {
        left: 12.5%;
    }
    15%{
        left: 8%;
    }
    85%{
        left: 8%;
    }
    
    100%{
        left: 12.5%;
    }
}
.moverOjosAI{
    animation: moverOjosAI 3s ease;
}
@keyframes moverOjosAI {
    0%
    {
        left: 12.5%;
    }
    15%{
        left: 16%;
    }
    85%{
        left: 16%;
    }
    
    100%{
        left: 12.5%;
    }
}

.saltar{
    animation: saltar 1s ease infinite;
}

@keyframes saltar{
    0%{
        transform: translateY(-0) scaleX(1) scaleY(1) ;
    }
    20%{
        transform: translateY(10%) scaleX(1.4) scaleY(0.7);
    }
    25%{
        transform: translateY(-25%) scaleX(0.9) scaleY(1.2);
    }
    40%{
        transform:translateY(-110%) scaleX(0.9) scaleY(1.2);
    }
    50%{
        transform: translateY(-90%) scaleX(1) scaleY(1.1);
    }
    55%{
        transform: translateY(-10%) scaleX(1) scaleY(1);
    }
    70%{
        transform: translateY(10%) scaleX(1.6) scaleY(0.6);
    }
    90%{
        transform: translateY(0%) scaleX(1) scaleY(1)
    }
    100%{
        transform: translateY(0%) scaleX(1) scaleY(1)
    }
}

.masticar{
animation: masticar 500ms ease infinite;
}

@keyframes masticar{
    0%{
        transform: scaleY(1) scaleX(1);
    }
    20%{
        transform: scaleY(1.2) scaleX(0.95) translateY(-5%);
    }
    50%{
        transform: scaleY(1.3) scaleX(0.95) translateY(-11.5%);
    }
    80%{
        transform: scaleY(1.2) scaleX(0.95) translateY(-5%);
    }

    100%{
        transform: scaleY(1) scaleX(1);
    }
}

.comer{
    transition: transform 300ms;
}

.comer:hover{
    transform: scaleY(1.5) translateY(-15%);
    transition: transform 300ms;
}
.comer::after{
    content:"";
    width: 20% ;
    height: 25%;
    background: black;
    position: absolute;
    bottom: 10%;
    border-radius: 200px;
    transform: scale(0);
    transition: transform 300ms;
}
.comer:hover::after{
    transform: scale(1);

    transition: transform 300ms;
}
